* {
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
button {
	cursor: pointer;
}
.container {
	margin: 0 auto;
	max-width: 900px;
}
.header {
	min-height: 30px;
	background-color: #242b33;
	color: white;
}
.header__inner {
	display: flex;
	min-height: 30px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.score__actual {
	margin-right: 20px;
}
.rules {
	min-height: 30px;
}
.rules__info {
	line-height: 70px;
}
.cards {
	display: flex;
	width: 100%;
	padding-top: 20px;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	height: 350px;
	width: 200px;
	margin-bottom: 20px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.card:hover {
	animation-name: anim-2;
	animation-duration: 0.8s;
	animation-direction: alternate;
}
@keyframes anim-2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.06);
	}
	100% {
		transform: scale(1);
	}
}
.card__inner {
	display: flex;
	height: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}
.card__img {
	height: 200px;
	width: auto;
	border-radius: 2px;
}
.card__info {
	display: flex;
	flex-direction: column;
}
.card__name {
	color: #242b33;
}
.card__occupation {
	font-weight: 300;
	color: #242b33;
}
.restart {
	font-weight: 700;
	margin-bottom: 20px;
	padding: 10px 15px;
	border-radius: 3px;
	color: white;
	background-color: rgba(36, 43, 51, 0.8);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border: none;
	outline: none;
}
.restart:hover {
	background-color: #242b33;
}
.gameResult {
	margin-top: 10px;
	font-size: 30px;
	line-height: 50px;
	font-weight: 700;
}
